<ul>
  <li *ngFor="let menu of navItems" (click)="clickedEvent(menu.name)"
  [ngClass]="setActiveClass(menu.name)"
  >
    <a routerLink="{{menu.path}}">{{menu.label}}
      <mat-icon *ngIf=" selected != menu.name && menu.children && menu.children.length>0" >expand_more</mat-icon>
      <mat-icon *ngIf="selected === menu.name && menu.children && menu.children.length>0" >expand_less</mat-icon>
    </a>    
    <!-- <ul *ngIf="menu.children && menu.children.length>0" style="padding-left:20px;display:none">
      <li *ngFor="let submenu of menu.children" (click)="selectMenu(menu.name)">
        <a routerLink="{{submenu.path}}">{{submenu.label}}</a>
      </li>
    </ul> -->
    <app-submenu *ngIf="menu.children && menu.children.length>0" [navItems]="menu.children" (clickedSubMeu)="submenuClicked($event)"></app-submenu>
  </li>
</ul>

<router-outlet></router-outlet>