<ul style="padding-left:20px;display:none">
      <li *ngFor="let menu of navItems" (click)="clickedEvent($event); $event.stopPropagation();" #thisLiElement [attr.data-selected]="false" [ngClass]="setActiveClass(thisLiElement)">
        <a routerLink="{{menu.path}}">
          {{menu.name}}
          <mat-icon *ngIf="menu.children && menu.children.length > 0">{{iconState(thisLiElement)}}</mat-icon>         
        </a>        
        <app-submenu *ngIf="menu.children && menu.children.length>0" [navItems]="menu.children"></app-submenu>
      </li>
</ul>

