.components__navigation {
    display: flex;
    height: 75px;
    align-items: center;
    padding-left: 50px;
    border-bottom: 4px solid #f5f5f5;
}

.components__navigation img {
    width: 250px;
    height: 40px;
    margin-right: 100px;
}

.components__navListTop {
    font-size: 14px;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.components__navListTop a {
    color: #333;
    text-decoration: none;
}

.components__navItem {
    margin-right: 50px;
    background-image: linear-gradient(#ffda00, #ffda00), linear-gradient(transparent, transparent);
    background-size: 0% 3px, auto;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: background .2s linear;
    padding: 33px 0;
}

.components__navItem a {
    text-decoration: none;
}

.components__navItem:hover, li#active {
    background-size: 100% 3px, auto;
}