<table id="myTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border 
  hover stripe">
  <thead>
    <tr>
      <th class="border-left" translate>employees.name<i class="fas fa- 
       search" 10px 0px 10px;" (click)="filterByName()"></i><input type="text" [formControl]="employeeFilterCtrl"
          id="myId" style="z-index: 9999; 
       display: none;" /></th>
      <th class="border-center" translate>employees.status</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of filteredEmployees | async">
      <tr *ngFor="let employeeStatus of item.employeeJobStatuses">
        <td>{{ item.firstName_FL + ' ' + item.secondName_FL + ' ' + 
         item.lastName_FL + ' ' + 
       item.familyName_FL }}</td>
        <td>{{ employeeStatus.status | translate }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>